.active-bookings {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .booking__title {
    display: flex;
    align-items: center;
  }

  .booking__weekday {
    opacity: 0.4;
    font-size: 0.7rem;
    margin-left: 10px;
  }

  .booking__label {
    font-weight: 600;
  }

  .booking-edit {
    color: var(--action-color);
    font-size: 18px;
    cursor: pointer;
    &:hover {
      color: var(--action-color-hover);
    }
  }

  .booking__no-active {
    padding: 10px;
    background-color: rgba($color: #ffffff, $alpha: 0.3);
  }
}
