.confirmation-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  background-color: var(--secondary-color);
  box-shadow: 0 0 10px var(--shadow);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.confirmation-heading {
  color: var(--action-color);
}

.confirmation-paragraph {
  margin: 10px 0;
}

.confirmation-paragraph__text {
    font-weight: 600;
}

.cancel-booking-button {
    background-color: var(--action-color);
    color: var(--cancel-button-text);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px; // Add margin-top to separate the button
    align-self: center; 
    transition: background-color 0.3s ease, color 0.3s ease;
  
    &:hover {
      background-color: var(--action-color-hover);
      color: var(--action-color-light);
    }
  }

.confirmation-link {
  display: block;
  margin-top: 20px;
  color: var(--action-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: var(--action-color-hover)
  }
}
