.confirmation-container {
  margin-top: 40px;
  padding: 20px;
  border-radius: var(--roundness);
  max-width: 600px;
  margin-bottom: 50px;
  background-color: var(--secondary-color);
  box-shadow: 0 0 10px var(--shadow);
  display: flex;
  flex-direction: column;
}

.confirmation-heading {
  //color: var(--action-color);
  margin-bottom: 40px;
}

.confirmation-paragraph {
  margin: 10px 0;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--primary-color);
}

.cancel-button {
  opacity: 0.6;
}

.confirmation-paragraph__text {
  font-weight: 600;
}

.confirmation-link {
  margin-top: 40px;
  margin-bottom: 10px;
  background-color: var(--action-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: var(--action-color-hover);
  }
}
