.navigation {
  top: 0px;
  z-index: 1;
  position: fixed;
  width: 100vw;
  height: 80px;
  padding: 20px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;

  .navigation__email {
    font-size: 0.7rem;
  }

  .navigation__link {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--action-color);
    &:hover {
      color: var(--action-color-hover);
    }
  }

  .navigation__avatar {
    background-color: var(--action-color);

    &:hover {
      background-color: var(--action-color-hover);
      cursor: pointer;
    }
  }
}

.close-icon {
  color: var(--action-color);
  &:hover {
    color: var(--action-color-hover);
  }
}

.menu-list {
  list-style-type: none;
  padding: 0px 10px;

  .menu-list__item {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
  }

  .menu-list__link {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--action-color);
    }
  }
}
