.slot-picker {
  .slot-list {
    display: flex;
    flex-flow: column nowrap;
    border-radius: var(--roundness);
    list-style-type: none;
    gap: 15px;
    margin-top: 5px;
    margin-bottom: 20px;

    .slot-item {
      display: flex;
      justify-content: space-between;
      background-color: var(--secondary-color);
      border-radius: var(--roundness);
      align-items: center;
      padding: 10px;
      width: 100%;
      max-width: 600px;
      align-self: center;
      box-shadow: var(--shadow);

      &:hover {
        cursor: pointer;
        background-color: var(--action-color-light);
      }

      .slot-item__details__label {
        font-weight: 600;
        opacity: 0.6;
        letter-spacing: 0.08rem;
      }
      .slot-item__details__content {
        margin: 5px 0px;
        font-weight: 500;
        opacity: 0.3;
        letter-spacing: 0.02rem;
        font-size: 12px;
      }

      .slot-item__arrow {
        color: var(--action-color);
      }
    }
    .slot-item--disabled {
      opacity: 0.4;
      cursor: unset;
      box-shadow: unset;
    }
  }
}
