.week-picker__title {
  font-size: 12px;
  opacity: 0.7;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 5px;
}

.week-picker {
  padding: 20px;
  padding-top: 0px;
  display: block;
  position: relative;
  width: 100%;

  .select-week {
    background-color: var(--secondary-color);
    border-top-right-radius: var(--roundness);
    border-top-left-radius: var(--roundness);
    padding: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 115%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    box-shadow: var(--shadow);

    .select-week__label {
      display: flex;
      align-items: center;
    }

    .select-week__icon {
      font-size: 1.5rem;
      display: flex;
      color: var(--action-color);

      &:hover {
        cursor: pointer;
      }
    }
  }

  .day-picker {
    padding: 10px;
    border-top: 2px solid var(--primary-color);
    display: flex;
    background-color: var(--secondary-color);
    border-bottom-right-radius: var(--roundness);
    border-bottom-left-radius: var(--roundness);
    justify-content: space-between;
    box-shadow: var(--shadow);

    .day-picker__item {
      font-weight: 500;
      flex-direction: column;
      display: flex;
      padding: 8px;
      border-radius: var(--roundness);
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .selected {
      color: var(--secondary-color);
      background-color: var(--action-color);
    }

    .day-picker__item.past-day {
      background-color: var(
        --primary-color
      ); /* Light gray background for past days */
      color: #aaa;
      cursor: not-allowed;
    }
  }
}
