@use 'components';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);
}

/* 
  --primary-color: #F2F1EB;
  --secondary-color: #D0D3C8;
  --action-color: #3c57d6;
*/

:root {
  --primary-color: #eff2fa;
  --secondary-color: #ffffff;
  --action-color: #38665f;
  --text-color: black;
  --roundness: 5px;
  --roundness-xl: 30px;
}

.rdp-nav_icon {
  color: var(--action-color);
}

.rdp {
  --rdp-cell-size: 40px; /* Size of the day cells. */
  --rdp-caption-font-size: 18px; /* Font size for the caption labels. */
  /* Accent color for the background of selected days. */
  --rdp-accent-color: var(--action-color) !important;
  --rdp-background-color: #e7edff; /* Background color for the hovered/focused elements. */
  /* Accent color for the background of selected days (to use in dark-mode). */
  --rdp-accent-color-dark: var(--action-color) !important;
  /* Background color for the hovered/focused elements (to use in dark-mode). */
  --rdp-background-color-dark: var(--action-color) !important;
  --rdp-outline: 2px solid var(--rdp-accent-color); /* Outline border for focused elements */
  --rdp-outline-selected: 3px solid var(--rdp-accent-color); /* Outline border for focused _and_ selected elements */
  --rdp-selected-color: #fff; /* Color of selected day text */
}

body {
  padding: 20px;
  /* place-items: center; */
  /* min-width: 100vw;
  min-height: 100vh; */
  background-color: var(--primary-color);
}

.home {
  gap: 50px;
  flex-flow: row wrap;
  margin-top: 20px;
}

.home-container {
  gap: 50px;
  border-radius: var(--roundness-xl);
  background-color: var(--secondary-color);
}

.home-container__welcome {
  flex-grow: 2;
  border-radius: 30px;
}

.home-container__welcome__image {
  width: 100%;
  height: 600px;
  border-radius: 30px;
  display: block;
}

.home-container__welcome__loginButton {
  position: relative;
  top: 80px;
  left: 150px;
  padding: 8px;
  background-color: var(--action-color);
  color: white;
  border: none;
}

.home-container__login {
  flex-grow: 1;
  margin-top: 20px;
}

.home-container__login--text {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

@media screen and (min-width: 768px) {
  .home {
    display: flex;
    justify-content: center;
  }
  .home-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .home-container__welcome__loginButton {
    display: none;
  }
}

/* @media (min-width: 1024px) { } */
