@use 'components';
@use 'pages';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
}

/* 
  --primary-color: #F2F1EB;
  --secondary-color: #D0D3C8;
  --action-color: #3c57d6;
*/
/**
#bf8c93
#957b7d
#6b6a68
*/

:root {
  --primary-color: #eff2fa;
  --secondary-color: #ffffff;
  --action-color: #ef7ca0;
  --action-color-hover: #f4a4bd;
  --action-color-light: #fbeef0;
  --text-color: #6b6a68;
  --success: #94ce51;
  --roundness: 5px;
  --roundness-medium: 10px;
  --roundness-xl: 30px;
  --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.shadow {
  box-shadow: var(--shadow);
  //border: 1px solid var(--success);
}

.booking-details-wrapper {
  width: 100%;

  margin-top: 40px;
  //border: 1px solid var(--action-color);
}

.page__title {
  margin: 20px 0px;
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  opacity: 0.7;
}

.page__secondary__title {
  margin-top: 20px;
  padding: 0px 5px;
  font-size: 20px;
  font-weight: 500;
  opacity: 0.7;
}

.page__description {
  padding: 0px 20px;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  opacity: 0.7;
  color: var(--action-color);
}

body {
  /* place-items: center; */
  /* min-width: 100vw;
  min-height: 100vh; */
  background-color: var(--primary-color);
}

/* @media (min-width: 1024px) { } */
