* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --primary-color: #fdf5e6;
  --secondary-color: #8fbc8f;
  --action-color: #008080;
}

body {
  padding: 20px;
  /* place-items: center; */
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--primary-color);
}

.home-parent {
  display: flex;
  border: 2px solid green;
  gap: 50px;
  flex-flow: row wrap;
}
.home-block1 {
  flex-grow: 2;
  border: 1px solid red;
  min-width: 300px;
}

.home-block2 {
  min-width: 300px;
  flex-grow: 1;
  border: 1px solid red;
}
